body {
    background-color: wheat;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.center {
    display: block;
    margin-right: auto;
    margin-left: auto;
    
}